In [3]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame(np.random.randint(0, 50, (6, 4)), index=list('ABCDEF'), columns=list('abcd'))

In [12]:
df

    a   b   c   d
A  29   7  49  26
B  30   9  39  41
C   4  14  13   4
D  28  17   3  39
E  33  21   1  31
F   1  24   0  20

In [21]:
dic = {
    'data1': np.random.randint(0, 50, 8),
    'data2': np.random.randint(0, 50, 8),
    'data3': np.random.randint(0, 50, 8),
    'key1': list('aabbccdd'),
    'key2': ['one', 'two', 'three', 'one', 'two', 'three','one', 'tow']
}
dic

{'data1': array([36,  4, 39,  2, 30,  0,  6, 38]),
 'data2': array([17, 25, 22, 14, 10, 30, 48, 11]),
 'data3': array([43,  8, 27, 11, 49, 26, 28, 47]),
 'key1': ['a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
 'key2': ['one', 'two', 'three', 'one', 'two', 'three', 'one', 'tow']}

In [24]:
df = pd.DataFrame(dic, index=list('hbaecfgd'))

In [25]:
df

   data1  data2  data3 key1   key2
h     36     17     43    a    one
b      4     25      8    a    two
a     39     22     27    b  three
e      2     14     11    b    one
c     30     10     49    c    two
f      0     30     26    c  three
g      6     48     28    d    one
d     38     11     47    d    tow

In [29]:
gobj = df.groupby(['key1']).sum()
gobj

      data1  data2  data3
key1
a        40     42     51
b        41     36     38
c        30     40     75
d        44     59     75

In [33]:
group_sum = gobj.add_prefix('sum_')
group_sum

      sum_data1  sum_data2  sum_data3
key1
a            40         42         51
b            41         36         38
c            30         40         75
d            44         59         75

In [34]:
pd.merge(df, group_sum, left_on='key1', right_index=True)

   data1  data2  data3 key1   key2  sum_data1  sum_data2  sum_data3
h     36     17     43    a    one         40         42         51
b      4     25      8    a    two         40         42         51
a     39     22     27    b  three         41         36         38
e      2     14     11    b    one         41         36         38
c     30     10     49    c    two         30         40         75
f      0     30     26    c  three         30         40         75
g      6     48     28    d    one         44         59         75
d     38     11     47    d    tow         44         59         75

In [38]:
df

   data1  data2  data3 key1   key2
h     36     17     43    a    one
b      4     25      8    a    two
a     39     22     27    b  three
e      2     14     11    b    one
c     30     10     49    c    two
f      0     30     26    c  three
g      6     48     28    d    one
d     38     11     47    d    tow

In [41]:
group_obj = df.loc[:,['data1', 'data2']].groupby(df['key1'])
group_obj

In [42]:
group_obj.sum()

      data1  data2
key1
a        40     42
b        41     36
c        30     40
d        44     59

In [48]:
transform_sum = group_obj.transform('sum')
transform_sum = transform_sum.add_prefix('sum_')
transform_sum

   sum_data1  sum_data2
h         40         42
b         40         42
a         41         36
e         41         36
c         30         40
f         30         40
g         44         59
d         44         59

In [47]:
pd.concat([df, transform_sum], axis=1)

   data1  data2  data3 key1   key2  sum_data1  sum_data2
h     36     17     43    a    one         40         42
b      4     25      8    a    two         40         42
a     39     22     27    b  three         41         36
e      2     14     11    b    one         41         36
c     30     10     49    c    two         30         40
f      0     30     26    c  three         30         40
g      6     48     28    d    one         44         59
d     38     11     47    d    tow         44         59

In [49]:
df

   data1  data2  data3 key1   key2
h     36     17     43    a    one
b      4     25      8    a    two
a     39     22     27    b  three
e      2     14     11    b    one
c     30     10     49    c    two
f      0     30     26    c  three
g      6     48     28    d    one
d     38     11     47    d    tow

In [50]:
df['data1']

h    36
b     4
a    39
e     2
c    30
f     0
g     6
d    38
Name: data1, dtype: int32

In [51]:
import seaborn as sns
import matplotlib.pyplot as plt

In [59]:
np.random.normal(0, 1, size=30)

array([ 0.65422449, -0.46843699,  0.20586396, -1.76533324,  0.28119442,
        0.55506618, -0.4270135 ,  0.62213831,  0.29622624,  0.54136174,
       -0.13043571,  0.38972321,  1.30940755,  1.15000849, -0.43665124,
        1.83896144,  1.21602746, -1.50594301,  0.90650397, -0.15390111,
       -0.12504641, -0.79235375,  1.48641864,  0.08218009, -1.39266675,
        0.88783847, -0.67693548, -1.04618584, -0.28463636,  2.00369983])

In [64]:
data = pd.read_csv('FoodFacts.csv', low_memory=False, usecols=['countries_en', 'additives_n'])

In [65]:
data

         countries_en  additives_n
0              France          NaN
1              France          NaN
2              France          NaN
3              France          NaN
4              France          NaN
5      United Kingdom          0.0
6              France          0.0
7              France          NaN
8              France          0.0
9               Spain          NaN
10     United Kingdom          5.0
11     United Kingdom          5.0
12             France          NaN
13             France          2.0
14     United Kingdom          0.0
15              Spain          0.0
16             France          3.0
17     United Kingdom          0.0
18     United Kingdom          0.0
19             France          6.0
20      United States          NaN
21     United Kingdom          NaN
22            Germany         10.0
23            Germany          7.0
24      United States          NaN
25     United Kingdom          NaN
26     United Kingdom          NaN
27             France          NaN
28             France          NaN
29             France         10.0
...               ...          ...
65473  United Kingdom          1.0
65474  United Kingdom          1.0
65475  United Kingdom          NaN
65476          France          NaN
65477          France          NaN
65478          France          NaN
65479   New Caledonia          NaN
65480   United States          4.0
65481          France          NaN
65482       Australia          NaN
65483            Iraq          NaN
65484       Australia          NaN
65485          Latvia          NaN
65486          France          NaN
65487       Australia          NaN
65488          France          NaN
65489          France          NaN
65490          France          0.0
65491          France          NaN
65492          France          NaN
65493             NaN          0.0
65494          France          0.0
65495          Russia          NaN
65496          France          NaN
65497          France          NaN
65498          Poland          NaN
65499          France          0.0
65500          France          NaN
65501          France          0.0
65502           China          NaN

[65503 rows x 2 columns]

In [68]:
group_sum = data.groupby(by='countries_en').sum()

In [69]:
group_sum

                                                    additives_n
countries_en
Albania                                                     0.0
Albania,Belgium,France,Germany,Italy,Netherland...          0.0
Albania,Denmark,Italy                                       0.0
Albania,Italy                                               2.0
Algeria                                                    14.0
Algeria,Belgium,Canada,France,Morocco,Switzerland           0.0
Algeria,Egypt,Morocco,Qatar,Tunisia,United Arab...          5.0
Algeria,France                                              1.0
An                                                          0.0
Andorra                                                     0.0
Andorra,France                                              1.0
Andorra,Spain                                               0.0
Argentina                                                  20.0
Argentina,France                                            1.0
Argentina,Saudi Arabia                                      0.0
Armenia                                                     0.0
Aruba                                                       0.0
Australia                                                 266.0
Australia,Belgium,France                                    3.0
Australia,Czech Republic,France                             1.0
Australia,France                                            4.0
Australia,France,United Kingdom                             0.0
Australia,Germany                                           0.0
Australia,Germany,Netherlands                               0.0
Australia,Indonesia                                         0.0
Australia,Indonesia,United States                          12.0
Australia,Japan                                             0.0
Australia,Malaysia                                          1.0
Australia,New Zealand                                      33.0
Australia,New Zealand,Singapore,Thailand                    1.0
...                                                         ...
Spain                                                    2623.0
Spain,United States                                         0.0
Spain,es:Europe                                            18.0
Spain,fr:Europe                                             0.0
Sweden                                                      1.0
Switzerland                                               723.0
Switzerland,United Kingdom                                  1.0
Switzerland,United States                                   0.0
Taiwan                                                      0.0
Tanzania                                                    0.0
Thailand                                                   18.0
Thailand,United Kingdom                                     0.0
Togo                                                        8.0
Tunisia                                                   140.0
Turkey                                                      3.0
Ukraine                                                     0.0
United Arab Emirates                                        3.0
United Kingdom                                           1959.0
United Kingdom,United States                               11.0
United Kingdom,fr:Angleterre                                4.0
United States                                            2204.0
Vanuatu                                                     0.0
Venezuela                                                   0.0
Vietnam                                                     0.0
en:dairies                                                  0.0
en:fresh-foods                                              0.0
fr:Quebec                                                  17.0
fr:yaourt-veloute-aux-fruits                                0.0
fr:日本                                                       0.0
日本                                                          0.0

[372 rows x 1 columns]

In [71]:
group_sum.sort_values(by='additives_n', ascending=False)[:10]

                  additives_n
countries_en
France                60894.0
Spain                  2623.0
United States          2204.0
United Kingdom         1959.0
Germany                1577.0
Belgium                1063.0
Switzerland             723.0
Portugal                645.0
France,fr:Europe        400.0
Belgium,France          391.0

In [4]:
d = pd.read_csv('RFM_TRAD_FLOW.csv', encoding='gbk')

In [5]:
df = d.head()
df

   transID  cumid              time  amount type_label    type
0     9407  10001  14JUN09:17:58:34   199.0         正常  Normal
1     9625  10001  16JUN09:15:09:13   369.0         正常  Normal
2    11837  10001  01JUL09:14:50:36   369.0         正常  Normal
3    26629  10001  14DEC09:18:05:32   359.0         正常  Normal
4    30850  10001  12APR10:13:02:20   399.0         正常  Normal

In [6]:
import time
 
a1 = "14JUN09:17:58:34"
# 先转换为时间数组
timeArray = time.strptime(a1, "%y%b%d:%H:%M:%S")
 
# 转换为时间戳
timeStamp = int(time.mktime(timeArray))
print(timeStamp)

1402307914

In [7]:
d['time'] = d['time'].map(lambda x: int(time.mktime(time.strptime(x, "%y%b%d:%H:%M:%S"))))

In [8]:
df

   transID  cumid              time  amount type_label    type
0     9407  10001  14JUN09:17:58:34   199.0         正常  Normal
1     9625  10001  16JUN09:15:09:13   369.0         正常  Normal
2    11837  10001  01JUL09:14:50:36   369.0         正常  Normal
3    26629  10001  14DEC09:18:05:32   359.0         正常  Normal
4    30850  10001  12APR10:13:02:20   399.0         正常  Normal

In [10]:
d['time'] = d['time'].map(lambda x: int(time.mktime(time.strptime(x, "%y%b%d:%H:%M:%S"))))

TypeError: strptime() argument 0 must be str, not <class 'int'>

In [47]:
d

       transID  cumid        time  amount type_label            type
0         9407  10001  1402307914   199.0         正常          Normal
1         9625  10001  1465456153   369.0         正常          Normal
2        11837  10001   994661436   369.0         正常          Normal
3        26629  10001  1418119532   359.0         正常          Normal
4        30850  10001  1334034140   399.0         正常          Normal
5        32007  10001  1084178758   269.0         正常          Normal
6        36637  10001  1086868986     0.0         赠送       Presented
7        43108  10001  1152521800   381.0         正常          Normal
8        43877  10001  1278765714  -399.0         退货  returned_goods
9        46081  10001  1688978145     0.0         赠送       Presented
10       51650  10001  1126338828     0.0         赠送       Presented
11       52266  10001  1315646271     0.0         赠送       Presented
12       52769  10001  1505018863   120.0         正常          Normal
13       36050  10001   992168015  -295.0         退货  returned_goods
14       43207  10001  1184069136     0.0         赠送       Presented
15       14812  10001  1625794286    36.0         正常          Normal
16       24752  10001  1349750372   300.0         特价   Special_offer
17       24779  10001  1349751553   120.0         特价   Special_offer
18       30394  10001  1930912188     0.0         赠送       Presented
19       33073  10001  1399699883   239.0         正常          Normal
20       38441  10001  1402392981   269.0         正常          Normal
21       49759  10001  1470834056   180.0         正常          Normal
22       51758  10001  1157885787   150.0         正常          Normal
23       25214  10001  1539064111   169.0         正常          Normal
24       27652  10001  1263121864   100.0         正常          Normal
25       28122  10001  1610265028     0.0         赠送       Presented
26       42102  10001   994763464     0.0         赠送       Presented
27        3753  10002  1431161092   249.0         正常          Normal
28        5560  10002  1620524122     3.0         正常          Normal
29       21160  10002  1094712717  -242.0         退货  returned_goods
...        ...    ...         ...     ...        ...             ...
26632    14293  40299  1531103394   239.0         正常          Normal
26633    16502  40299  1941366340   183.0         正常          Normal
26634    26538  40299  1228828898     0.0         赠送       Presented
26635    43884  40299  1278766714     0.0         赠送       Presented
26636    44086  40299  1310299841   139.0         正常          Normal
26637    50307  40299  1628587334     0.0         赠送       Presented
26638    53451  40299  1694352973   180.0         正常          Normal
26639    29972  40299  1489148101     8.0         正常          Normal
26640    33733  40299  1557466566     0.0         赠送       Presented
26641    35523  40299  1873110519   279.0         正常          Normal
26642    25383  40300  1665318335    54.0         正常          Normal
26643     6531  40300  1778334176  -249.0         退货  returned_goods
26644    11623  40300  1875703718     3.0         正常          Normal
26645    25566  40300  1760016401    40.0         正常          Normal
26646    29757  40300  1236657176   299.0         正常          Normal
26647    34311  40300  1652170322   359.0         正常          Normal
26648    38024  40300  1339309034   236.0         正常          Normal
26649    45555  40300  1562765847     0.0         赠送       Presented
26650    41021  40300  1781071842    15.0         正常          Normal
26651    10035  40300  1560084788     0.0         赠送       Presented
26652    10695  40300  1686311504     3.0         正常          Normal
26653    17697  40300  1218248454  -269.0         退货  returned_goods
26654    24730  40300  1349748834   125.0         特价   Special_offer
26655    24915  40300  1349770445   339.0         正常          Normal
26656    29857  40300  1362905484     0.0         赠送       Presented
26657    37016  40300  1149927271     0.0         赠送       Presented
26658    38889  40300  1465546720  -239.0         退货  returned_goods
26659    41158  40300  1781096515    15.0         正常          Normal
26660    14562  40300  1562651505     0.0         赠送       Presented
26661    40348  40300  1654846963     0.0         赠送       Presented

[26662 rows x 6 columns]

In [48]:
group_obj = d.groupby(['cumid', 'type'])

In [49]:
r = group_obj[['time']].min()
r

                            time
cumid type
10001 Normal           994661436
      Presented        994763464
      Special_offer   1349750372
      returned_goods   992168015
10002 Normal          1047262464
      Presented       1057808596
      returned_goods  1094712717
10003 Normal           989494836
      Presented        986885912
      Special_offer   1010665179
      returned_goods  1149920944
10004 Normal          1055150890
      Presented        997443142
      Special_offer   1160397620
      returned_goods  1055250961
10005 Normal          1247142032
      Presented       1247222982
      returned_goods  1207828428
10006 Normal          1186643421
      Presented       1370868778
      Special_offer   1820491822
      returned_goods  1123591208
10007 Normal          1000036818
      Presented        992164968
      Special_offer   1470727708
      returned_goods  1838951661
10008 Normal           992050926
      Presented       1078918634
      Special_offer   1318163309
      returned_goods  1118405690
...                          ...
40292 returned_goods  1118282328
40293 Normal           981792215
      Presented       1407656433
      Special_offer   1286590848
      returned_goods  1820473475
40294 Normal          1123589360
      Presented       1057823973
      Special_offer   1349751799
40295 Normal          1028890417
      Presented       1276170691
      Special_offer   1034137096
      returned_goods  1594375287
40296 Normal          1228814806
      Presented       1241932907
      Special_offer   1880948839
      returned_goods  1781086559
40297 Normal           994679134
      Presented        992166694
      Special_offer    979122531
      returned_goods  1189395862
40298 Normal          1123671522
      Presented       1052561096
      Special_offer   1286590247
40299 Normal           986867893
      Presented       1055222672
      Special_offer   1723174038
40300 Normal          1236657176
      Presented       1149927271
      Special_offer   1349748834
      returned_goods  1218248454

[4023 rows x 1 columns]

In [50]:
r_trans = pd.pivot_table(r, index='cumid', columns='type', values='time')

In [51]:
r_trans

type         Normal     Presented  Special_offer  returned_goods
cumid
10001  9.946614e+08  9.947635e+08   1.349750e+09    9.921680e+08
10002  1.047262e+09  1.057809e+09            NaN    1.094713e+09
10003  9.894948e+08  9.868859e+08   1.010665e+09    1.149921e+09
10004  1.055151e+09  9.974431e+08   1.160398e+09    1.055251e+09
10005  1.247142e+09  1.247223e+09            NaN    1.207828e+09
10006  1.186643e+09  1.370869e+09   1.820492e+09    1.123591e+09
10007  1.000037e+09  9.921650e+08   1.470728e+09    1.838952e+09
10008  9.920509e+08  1.078919e+09   1.318163e+09    1.118406e+09
10009  9.791353e+08  1.115693e+09            NaN    1.662709e+09
10010  1.120966e+09  9.973215e+08   1.010653e+09             NaN
10011  1.084180e+09  1.055253e+09   1.912514e+09             NaN
10012  1.118393e+09  1.081595e+09   1.286589e+09             NaN
10013  1.068362e+09  1.092104e+09   1.849402e+09    1.591710e+09
10014  1.026276e+09  1.031625e+09   1.533817e+09    1.028891e+09
10015  1.089430e+09  1.021010e+09   1.349751e+09    1.560137e+09
10016  1.149848e+09  9.868664e+08   1.128864e+09    9.921625e+08
10017  9.973525e+08  1.302427e+09   1.349751e+09    1.060399e+09
10018  1.023616e+09  1.181459e+09            NaN             NaN
10019  9.946852e+08  1.081591e+09   1.439100e+09             NaN
10020  1.081557e+09  1.026307e+09            NaN    1.357819e+09
10021  1.152513e+09  1.042202e+09   1.191937e+09    1.213060e+09
10022  9.973253e+08  9.973426e+08   1.470722e+09             NaN
10023  1.021036e+09  1.163072e+09   1.286587e+09             NaN
10024  1.044881e+09  1.018424e+09   1.002614e+09             NaN
10025  1.089438e+09  1.118406e+09   1.786261e+09             NaN
10026  9.920509e+08  1.149933e+09   1.628480e+09    1.315577e+09
10027  1.118371e+09  1.376015e+09   1.034167e+09    1.820474e+09
10028  1.092111e+09  1.597057e+09   1.533783e+09    1.591710e+09
10029  1.086844e+09  1.057821e+09   1.439081e+09    1.310199e+09
10030  9.791357e+08  1.092116e+09   1.002620e+09    1.115727e+09
...             ...           ...            ...             ...
40271  9.974187e+08  1.439173e+09   1.286587e+09    1.094710e+09
40272  1.026280e+09  1.468146e+09            NaN    1.562669e+09
40273  9.946660e+08  1.278735e+09            NaN    1.817874e+09
40274  1.021033e+09  1.118384e+09   1.286590e+09    1.749442e+09
40275  1.002622e+09  1.000128e+09   1.691550e+09    1.902030e+09
40276  9.791156e+08  9.921695e+08   1.349790e+09    1.236656e+09
40277  1.105347e+09  1.502354e+09   1.723195e+09    1.812616e+09
40278  9.842122e+08  1.057835e+09            NaN             NaN
40279  1.241941e+09  1.149929e+09   1.502280e+09    1.909823e+09
40280  1.160400e+09  1.021007e+09   1.160400e+09             NaN
40281  1.183983e+09  1.365588e+09            NaN             NaN
40282  1.057740e+09  1.089362e+09   1.286590e+09    1.468145e+09
40283  1.186630e+09  1.042204e+09            NaN    1.536574e+09
40284  1.036815e+09  1.031655e+09   1.691577e+09             NaN
40285  9.921572e+08  1.178785e+09   1.042194e+09             NaN
40286  1.247117e+09  1.026300e+09   1.347197e+09    1.625834e+09
40287  9.868859e+08  1.086875e+09   1.439127e+09    1.223554e+09
40288  9.894717e+08  1.057813e+09            NaN    1.160403e+09
40289  1.118315e+09  1.023694e+09   1.349752e+09    1.152513e+09
40290  1.134100e+09  1.055148e+09   1.286631e+09             NaN
40291  9.894747e+08  1.028870e+09   1.349788e+09             NaN
40292  9.817922e+08  1.812599e+09   1.223545e+09    1.118282e+09
40293  9.817922e+08  1.407656e+09   1.286591e+09    1.820473e+09
40294  1.123589e+09  1.057824e+09   1.349752e+09             NaN
40295  1.028890e+09  1.276171e+09   1.034137e+09    1.594375e+09
40296  1.228815e+09  1.241933e+09   1.880949e+09    1.781087e+09
40297  9.946791e+08  9.921667e+08   9.791225e+08    1.189396e+09
40298  1.123672e+09  1.052561e+09   1.286590e+09             NaN
40299  9.868679e+08  1.055223e+09   1.723174e+09             NaN
40300  1.236657e+09  1.149927e+09   1.349749e+09    1.218248e+09

[1200 rows x 4 columns]

In [52]:
r_trans = r_trans.fillna({
    'Normal':0,
    'Presented':0,
    'Special_offer':0,
    'returned_goods':0
})
r_trans

type         Normal     Presented  Special_offer  returned_goods
cumid
10001  9.946614e+08  9.947635e+08   1.349750e+09    9.921680e+08
10002  1.047262e+09  1.057809e+09   0.000000e+00    1.094713e+09
10003  9.894948e+08  9.868859e+08   1.010665e+09    1.149921e+09
10004  1.055151e+09  9.974431e+08   1.160398e+09    1.055251e+09
10005  1.247142e+09  1.247223e+09   0.000000e+00    1.207828e+09
10006  1.186643e+09  1.370869e+09   1.820492e+09    1.123591e+09
10007  1.000037e+09  9.921650e+08   1.470728e+09    1.838952e+09
10008  9.920509e+08  1.078919e+09   1.318163e+09    1.118406e+09
10009  9.791353e+08  1.115693e+09   0.000000e+00    1.662709e+09
10010  1.120966e+09  9.973215e+08   1.010653e+09    0.000000e+00
10011  1.084180e+09  1.055253e+09   1.912514e+09    0.000000e+00
10012  1.118393e+09  1.081595e+09   1.286589e+09    0.000000e+00
10013  1.068362e+09  1.092104e+09   1.849402e+09    1.591710e+09
10014  1.026276e+09  1.031625e+09   1.533817e+09    1.028891e+09
10015  1.089430e+09  1.021010e+09   1.349751e+09    1.560137e+09
10016  1.149848e+09  9.868664e+08   1.128864e+09    9.921625e+08
10017  9.973525e+08  1.302427e+09   1.349751e+09    1.060399e+09
10018  1.023616e+09  1.181459e+09   0.000000e+00    0.000000e+00
10019  9.946852e+08  1.081591e+09   1.439100e+09    0.000000e+00
10020  1.081557e+09  1.026307e+09   0.000000e+00    1.357819e+09
10021  1.152513e+09  1.042202e+09   1.191937e+09    1.213060e+09
10022  9.973253e+08  9.973426e+08   1.470722e+09    0.000000e+00
10023  1.021036e+09  1.163072e+09   1.286587e+09    0.000000e+00
10024  1.044881e+09  1.018424e+09   1.002614e+09    0.000000e+00
10025  1.089438e+09  1.118406e+09   1.786261e+09    0.000000e+00
10026  9.920509e+08  1.149933e+09   1.628480e+09    1.315577e+09
10027  1.118371e+09  1.376015e+09   1.034167e+09    1.820474e+09
10028  1.092111e+09  1.597057e+09   1.533783e+09    1.591710e+09
10029  1.086844e+09  1.057821e+09   1.439081e+09    1.310199e+09
10030  9.791357e+08  1.092116e+09   1.002620e+09    1.115727e+09
...             ...           ...            ...             ...
40271  9.974187e+08  1.439173e+09   1.286587e+09    1.094710e+09
40272  1.026280e+09  1.468146e+09   0.000000e+00    1.562669e+09
40273  9.946660e+08  1.278735e+09   0.000000e+00    1.817874e+09
40274  1.021033e+09  1.118384e+09   1.286590e+09    1.749442e+09
40275  1.002622e+09  1.000128e+09   1.691550e+09    1.902030e+09
40276  9.791156e+08  9.921695e+08   1.349790e+09    1.236656e+09
40277  1.105347e+09  1.502354e+09   1.723195e+09    1.812616e+09
40278  9.842122e+08  1.057835e+09   0.000000e+00    0.000000e+00
40279  1.241941e+09  1.149929e+09   1.502280e+09    1.909823e+09
40280  1.160400e+09  1.021007e+09   1.160400e+09    0.000000e+00
40281  1.183983e+09  1.365588e+09   0.000000e+00    0.000000e+00
40282  1.057740e+09  1.089362e+09   1.286590e+09    1.468145e+09
40283  1.186630e+09  1.042204e+09   0.000000e+00    1.536574e+09
40284  1.036815e+09  1.031655e+09   1.691577e+09    0.000000e+00
40285  9.921572e+08  1.178785e+09   1.042194e+09    0.000000e+00
40286  1.247117e+09  1.026300e+09   1.347197e+09    1.625834e+09
40287  9.868859e+08  1.086875e+09   1.439127e+09    1.223554e+09
40288  9.894717e+08  1.057813e+09   0.000000e+00    1.160403e+09
40289  1.118315e+09  1.023694e+09   1.349752e+09    1.152513e+09
40290  1.134100e+09  1.055148e+09   1.286631e+09    0.000000e+00
40291  9.894747e+08  1.028870e+09   1.349788e+09    0.000000e+00
40292  9.817922e+08  1.812599e+09   1.223545e+09    1.118282e+09
40293  9.817922e+08  1.407656e+09   1.286591e+09    1.820473e+09
40294  1.123589e+09  1.057824e+09   1.349752e+09    0.000000e+00
40295  1.028890e+09  1.276171e+09   1.034137e+09    1.594375e+09
40296  1.228815e+09  1.241933e+09   1.880949e+09    1.781087e+09
40297  9.946791e+08  9.921667e+08   9.791225e+08    1.189396e+09
40298  1.123672e+09  1.052561e+09   1.286590e+09    0.000000e+00
40299  9.868679e+08  1.055223e+09   1.723174e+09    0.000000e+00
40300  1.236657e+09  1.149927e+09   1.349749e+09    1.218248e+09

[1200 rows x 4 columns]

In [53]:
r_trans['r_max'] = r_trans.apply(lambda x : x.max(), axis=1)

In [54]:
r_trans

type         Normal     Presented  Special_offer  returned_goods         r_max
cumid
10001  9.946614e+08  9.947635e+08   1.349750e+09    9.921680e+08  1.349750e+09
10002  1.047262e+09  1.057809e+09   0.000000e+00    1.094713e+09  1.094713e+09
10003  9.894948e+08  9.868859e+08   1.010665e+09    1.149921e+09  1.149921e+09
10004  1.055151e+09  9.974431e+08   1.160398e+09    1.055251e+09  1.160398e+09
10005  1.247142e+09  1.247223e+09   0.000000e+00    1.207828e+09  1.247223e+09
10006  1.186643e+09  1.370869e+09   1.820492e+09    1.123591e+09  1.820492e+09
10007  1.000037e+09  9.921650e+08   1.470728e+09    1.838952e+09  1.838952e+09
10008  9.920509e+08  1.078919e+09   1.318163e+09    1.118406e+09  1.318163e+09
10009  9.791353e+08  1.115693e+09   0.000000e+00    1.662709e+09  1.662709e+09
10010  1.120966e+09  9.973215e+08   1.010653e+09    0.000000e+00  1.120966e+09
10011  1.084180e+09  1.055253e+09   1.912514e+09    0.000000e+00  1.912514e+09
10012  1.118393e+09  1.081595e+09   1.286589e+09    0.000000e+00  1.286589e+09
10013  1.068362e+09  1.092104e+09   1.849402e+09    1.591710e+09  1.849402e+09
10014  1.026276e+09  1.031625e+09   1.533817e+09    1.028891e+09  1.533817e+09
10015  1.089430e+09  1.021010e+09   1.349751e+09    1.560137e+09  1.560137e+09
10016  1.149848e+09  9.868664e+08   1.128864e+09    9.921625e+08  1.149848e+09
10017  9.973525e+08  1.302427e+09   1.349751e+09    1.060399e+09  1.349751e+09
10018  1.023616e+09  1.181459e+09   0.000000e+00    0.000000e+00  1.181459e+09
10019  9.946852e+08  1.081591e+09   1.439100e+09    0.000000e+00  1.439100e+09
10020  1.081557e+09  1.026307e+09   0.000000e+00    1.357819e+09  1.357819e+09
10021  1.152513e+09  1.042202e+09   1.191937e+09    1.213060e+09  1.213060e+09
10022  9.973253e+08  9.973426e+08   1.470722e+09    0.000000e+00  1.470722e+09
10023  1.021036e+09  1.163072e+09   1.286587e+09    0.000000e+00  1.286587e+09
10024  1.044881e+09  1.018424e+09   1.002614e+09    0.000000e+00  1.044881e+09
10025  1.089438e+09  1.118406e+09   1.786261e+09    0.000000e+00  1.786261e+09
10026  9.920509e+08  1.149933e+09   1.628480e+09    1.315577e+09  1.628480e+09
10027  1.118371e+09  1.376015e+09   1.034167e+09    1.820474e+09  1.820474e+09
10028  1.092111e+09  1.597057e+09   1.533783e+09    1.591710e+09  1.597057e+09
10029  1.086844e+09  1.057821e+09   1.439081e+09    1.310199e+09  1.439081e+09
10030  9.791357e+08  1.092116e+09   1.002620e+09    1.115727e+09  1.115727e+09
...             ...           ...            ...             ...           ...
40271  9.974187e+08  1.439173e+09   1.286587e+09    1.094710e+09  1.439173e+09
40272  1.026280e+09  1.468146e+09   0.000000e+00    1.562669e+09  1.562669e+09
40273  9.946660e+08  1.278735e+09   0.000000e+00    1.817874e+09  1.817874e+09
40274  1.021033e+09  1.118384e+09   1.286590e+09    1.749442e+09  1.749442e+09
40275  1.002622e+09  1.000128e+09   1.691550e+09    1.902030e+09  1.902030e+09
40276  9.791156e+08  9.921695e+08   1.349790e+09    1.236656e+09  1.349790e+09
40277  1.105347e+09  1.502354e+09   1.723195e+09    1.812616e+09  1.812616e+09
40278  9.842122e+08  1.057835e+09   0.000000e+00    0.000000e+00  1.057835e+09
40279  1.241941e+09  1.149929e+09   1.502280e+09    1.909823e+09  1.909823e+09
40280  1.160400e+09  1.021007e+09   1.160400e+09    0.000000e+00  1.160400e+09
40281  1.183983e+09  1.365588e+09   0.000000e+00    0.000000e+00  1.365588e+09
40282  1.057740e+09  1.089362e+09   1.286590e+09    1.468145e+09  1.468145e+09
40283  1.186630e+09  1.042204e+09   0.000000e+00    1.536574e+09  1.536574e+09
40284  1.036815e+09  1.031655e+09   1.691577e+09    0.000000e+00  1.691577e+09
40285  9.921572e+08  1.178785e+09   1.042194e+09    0.000000e+00  1.178785e+09
40286  1.247117e+09  1.026300e+09   1.347197e+09    1.625834e+09  1.625834e+09
40287  9.868859e+08  1.086875e+09   1.439127e+09    1.223554e+09  1.439127e+09
40288  9.894717e+08  1.057813e+09   0.000000e+00    1.160403e+09  1.160403e+09
40289  1.118315e+09  1.023694e+09   1.349752e+09    1.152513e+09  1.349752e+09
40290  1.134100e+09  1.055148e+09   1.286631e+09    0.000000e+00  1.286631e+09
40291  9.894747e+08  1.028870e+09   1.349788e+09    0.000000e+00  1.349788e+09
40292  9.817922e+08  1.812599e+09   1.223545e+09    1.118282e+09  1.812599e+09
40293  9.817922e+08  1.407656e+09   1.286591e+09    1.820473e+09  1.820473e+09
40294  1.123589e+09  1.057824e+09   1.349752e+09    0.000000e+00  1.349752e+09
40295  1.028890e+09  1.276171e+09   1.034137e+09    1.594375e+09  1.594375e+09
40296  1.228815e+09  1.241933e+09   1.880949e+09    1.781087e+09  1.880949e+09
40297  9.946791e+08  9.921667e+08   9.791225e+08    1.189396e+09  1.189396e+09
40298  1.123672e+09  1.052561e+09   1.286590e+09    0.000000e+00  1.286590e+09
40299  9.868679e+08  1.055223e+09   1.723174e+09    0.000000e+00  1.723174e+09
40300  1.236657e+09  1.149927e+09   1.349749e+09    1.218248e+09  1.349749e+09

[1200 rows x 5 columns]

# F

In [19]:
# 购买频率
f = group_obj[['transID']].count()
f

                      transID
cumid type
10001 Normal               15
      Presented             8
      Special_offer         2
      returned_goods        2
10002 Normal               12
      Presented             5
      returned_goods        1
10003 Normal               15
      Presented             8
      Special_offer         1
      returned_goods        1
10004 Normal               15
      Presented            12
      Special_offer         2
      returned_goods        1
10005 Normal                8
      Presented             5
      returned_goods        1
10006 Normal               10
      Presented             3
      Special_offer         1
      returned_goods        3
10007 Normal               15
      Presented             9
      Special_offer         1
      returned_goods        1
10008 Normal               17
      Presented            12
      Special_offer         3
      returned_goods        3
...                       ...
40292 returned_goods        1
40293 Normal               21
      Presented             7
      Special_offer         3
      returned_goods        1
40294 Normal               16
      Presented             5
      Special_offer         1
40295 Normal               16
      Presented             6
      Special_offer         1
      returned_goods        1
40296 Normal               13
      Presented             6
      Special_offer         1
      returned_goods        1
40297 Normal               17
      Presented            10
      Special_offer         5
      returned_goods        2
40298 Normal               10
      Presented             9
      Special_offer         4
40299 Normal               16
      Presented            11
      Special_offer         1
40300 Normal               10
      Presented             6
      Special_offer         1
      returned_goods        3

[4023 rows x 1 columns]

In [20]:
f_trans = pd.pivot_table(f, index='cumid', columns='type', values='transID')
f_trans

type   Normal  Presented  Special_offer  returned_goods
cumid
10001    15.0        8.0            2.0             2.0
10002    12.0        5.0            NaN             1.0
10003    15.0        8.0            1.0             1.0
10004    15.0       12.0            2.0             1.0
10005     8.0        5.0            NaN             1.0
10006    10.0        3.0            1.0             3.0
10007    15.0        9.0            1.0             1.0
10008    17.0       12.0            3.0             3.0
10009    13.0        5.0            NaN             1.0
10010     8.0       11.0            3.0             NaN
10011    16.0        6.0            1.0             NaN
10012    17.0        7.0            3.0             NaN
10013    15.0        7.0            1.0             1.0
10014    19.0        7.0            3.0             2.0
10015    15.0        8.0            1.0             1.0
10016    15.0        7.0            1.0             1.0
10017    11.0        9.0            3.0             3.0
10018    20.0        8.0            NaN             NaN
10019    14.0        4.0            2.0             NaN
10020    11.0        8.0            NaN             1.0
10021    13.0        7.0            2.0             2.0
10022    11.0        7.0            1.0             NaN
10023    16.0        8.0            1.0             NaN
10024    24.0        4.0            3.0             NaN
10025    10.0       10.0            2.0             NaN
10026    14.0        9.0            1.0             1.0
10027    10.0        6.0            1.0             1.0
10028     7.0        7.0            2.0             2.0
10029    19.0       11.0            1.0             1.0
10030    11.0        6.0            2.0             2.0
...       ...        ...            ...             ...
40271    20.0        2.0            3.0             1.0
40272     9.0        4.0            NaN             2.0
40273    17.0        7.0            NaN             1.0
40274    14.0        9.0            3.0             1.0
40275    10.0        6.0            1.0             1.0
40276    12.0        7.0            2.0             2.0
40277     9.0        2.0            1.0             1.0
40278    17.0        8.0            NaN             NaN
40279     8.0        2.0            1.0             1.0
40280    10.0        7.0            2.0             NaN
40281    18.0        6.0            NaN             NaN
40282    11.0       10.0            2.0             1.0
40283    16.0        3.0            NaN             1.0
40284    15.0        4.0            3.0             NaN
40285    16.0       13.0            2.0             NaN
40286     7.0        8.0            1.0             1.0
40287    11.0        4.0            1.0             2.0
40288    11.0        6.0            NaN             1.0
40289    23.0        8.0            1.0             2.0
40290    11.0        9.0            1.0             NaN
40291    18.0       11.0            1.0             NaN
40292    16.0        5.0            1.0             1.0
40293    21.0        7.0            3.0             1.0
40294    16.0        5.0            1.0             NaN
40295    16.0        6.0            1.0             1.0
40296    13.0        6.0            1.0             1.0
40297    17.0       10.0            5.0             2.0
40298    10.0        9.0            4.0             NaN
40299    16.0       11.0            1.0             NaN
40300    10.0        6.0            1.0             3.0

[1200 rows x 4 columns]

In [21]:
f_trans = f_trans.fillna(0)

In [22]:
f_trans['returned_goods'] = f_trans['returned_goods'] * (-1)
f_trans

type   Normal  Presented  Special_offer  returned_goods
cumid
10001    15.0        8.0            2.0            -2.0
10002    12.0        5.0            0.0            -1.0
10003    15.0        8.0            1.0            -1.0
10004    15.0       12.0            2.0            -1.0
10005     8.0        5.0            0.0            -1.0
10006    10.0        3.0            1.0            -3.0
10007    15.0        9.0            1.0            -1.0
10008    17.0       12.0            3.0            -3.0
10009    13.0        5.0            0.0            -1.0
10010     8.0       11.0            3.0            -0.0
10011    16.0        6.0            1.0            -0.0
10012    17.0        7.0            3.0            -0.0
10013    15.0        7.0            1.0            -1.0
10014    19.0        7.0            3.0            -2.0
10015    15.0        8.0            1.0            -1.0
10016    15.0        7.0            1.0            -1.0
10017    11.0        9.0            3.0            -3.0
10018    20.0        8.0            0.0            -0.0
10019    14.0        4.0            2.0            -0.0
10020    11.0        8.0            0.0            -1.0
10021    13.0        7.0            2.0            -2.0
10022    11.0        7.0            1.0            -0.0
10023    16.0        8.0            1.0            -0.0
10024    24.0        4.0            3.0            -0.0
10025    10.0       10.0            2.0            -0.0
10026    14.0        9.0            1.0            -1.0
10027    10.0        6.0            1.0            -1.0
10028     7.0        7.0            2.0            -2.0
10029    19.0       11.0            1.0            -1.0
10030    11.0        6.0            2.0            -2.0
...       ...        ...            ...             ...
40271    20.0        2.0            3.0            -1.0
40272     9.0        4.0            0.0            -2.0
40273    17.0        7.0            0.0            -1.0
40274    14.0        9.0            3.0            -1.0
40275    10.0        6.0            1.0            -1.0
40276    12.0        7.0            2.0            -2.0
40277     9.0        2.0            1.0            -1.0
40278    17.0        8.0            0.0            -0.0
40279     8.0        2.0            1.0            -1.0
40280    10.0        7.0            2.0            -0.0
40281    18.0        6.0            0.0            -0.0
40282    11.0       10.0            2.0            -1.0
40283    16.0        3.0            0.0            -1.0
40284    15.0        4.0            3.0            -0.0
40285    16.0       13.0            2.0            -0.0
40286     7.0        8.0            1.0            -1.0
40287    11.0        4.0            1.0            -2.0
40288    11.0        6.0            0.0            -1.0
40289    23.0        8.0            1.0            -2.0
40290    11.0        9.0            1.0            -0.0
40291    18.0       11.0            1.0            -0.0
40292    16.0        5.0            1.0            -1.0
40293    21.0        7.0            3.0            -1.0
40294    16.0        5.0            1.0            -0.0
40295    16.0        6.0            1.0            -1.0
40296    13.0        6.0            1.0            -1.0
40297    17.0       10.0            5.0            -2.0
40298    10.0        9.0            4.0            -0.0
40299    16.0       11.0            1.0            -0.0
40300    10.0        6.0            1.0            -3.0

[1200 rows x 4 columns]

In [23]:
f_trans['f_sum'] = f_trans.apply(lambda x : x.sum(), axis=1)
f_trans

type   Normal  Presented  Special_offer  returned_goods  f_sum
cumid
10001    15.0        8.0            2.0            -2.0   23.0
10002    12.0        5.0            0.0            -1.0   16.0
10003    15.0        8.0            1.0            -1.0   23.0
10004    15.0       12.0            2.0            -1.0   28.0
10005     8.0        5.0            0.0            -1.0   12.0
10006    10.0        3.0            1.0            -3.0   11.0
10007    15.0        9.0            1.0            -1.0   24.0
10008    17.0       12.0            3.0            -3.0   29.0
10009    13.0        5.0            0.0            -1.0   17.0
10010     8.0       11.0            3.0            -0.0   22.0
10011    16.0        6.0            1.0            -0.0   23.0
10012    17.0        7.0            3.0            -0.0   27.0
10013    15.0        7.0            1.0            -1.0   22.0
10014    19.0        7.0            3.0            -2.0   27.0
10015    15.0        8.0            1.0            -1.0   23.0
10016    15.0        7.0            1.0            -1.0   22.0
10017    11.0        9.0            3.0            -3.0   20.0
10018    20.0        8.0            0.0            -0.0   28.0
10019    14.0        4.0            2.0            -0.0   20.0
10020    11.0        8.0            0.0            -1.0   18.0
10021    13.0        7.0            2.0            -2.0   20.0
10022    11.0        7.0            1.0            -0.0   19.0
10023    16.0        8.0            1.0            -0.0   25.0
10024    24.0        4.0            3.0            -0.0   31.0
10025    10.0       10.0            2.0            -0.0   22.0
10026    14.0        9.0            1.0            -1.0   23.0
10027    10.0        6.0            1.0            -1.0   16.0
10028     7.0        7.0            2.0            -2.0   14.0
10029    19.0       11.0            1.0            -1.0   30.0
10030    11.0        6.0            2.0            -2.0   17.0
...       ...        ...            ...             ...    ...
40271    20.0        2.0            3.0            -1.0   24.0
40272     9.0        4.0            0.0            -2.0   11.0
40273    17.0        7.0            0.0            -1.0   23.0
40274    14.0        9.0            3.0            -1.0   25.0
40275    10.0        6.0            1.0            -1.0   16.0
40276    12.0        7.0            2.0            -2.0   19.0
40277     9.0        2.0            1.0            -1.0   11.0
40278    17.0        8.0            0.0            -0.0   25.0
40279     8.0        2.0            1.0            -1.0   10.0
40280    10.0        7.0            2.0            -0.0   19.0
40281    18.0        6.0            0.0            -0.0   24.0
40282    11.0       10.0            2.0            -1.0   22.0
40283    16.0        3.0            0.0            -1.0   18.0
40284    15.0        4.0            3.0            -0.0   22.0
40285    16.0       13.0            2.0            -0.0   31.0
40286     7.0        8.0            1.0            -1.0   15.0
40287    11.0        4.0            1.0            -2.0   14.0
40288    11.0        6.0            0.0            -1.0   16.0
40289    23.0        8.0            1.0            -2.0   30.0
40290    11.0        9.0            1.0            -0.0   21.0
40291    18.0       11.0            1.0            -0.0   30.0
40292    16.0        5.0            1.0            -1.0   21.0
40293    21.0        7.0            3.0            -1.0   30.0
40294    16.0        5.0            1.0            -0.0   22.0
40295    16.0        6.0            1.0            -1.0   22.0
40296    13.0        6.0            1.0            -1.0   19.0
40297    17.0       10.0            5.0            -2.0   30.0
40298    10.0        9.0            4.0            -0.0   23.0
40299    16.0       11.0            1.0            -0.0   28.0
40300    10.0        6.0            1.0            -3.0   14.0

[1200 rows x 5 columns]

# m

In [24]:
# 金额之和
m = group_obj[['amount']].sum()
m

                      amount
cumid type
10001 Normal          3608.0
      Presented          0.0
      Special_offer    420.0
      returned_goods  -694.0
10002 Normal          1894.0
      Presented          0.0
      returned_goods  -242.0
10003 Normal          3503.0
      Presented          0.0
      Special_offer    156.0
      returned_goods  -224.0
10004 Normal          2979.0
      Presented          0.0
      Special_offer    373.0
      returned_goods   -40.0
10005 Normal          2368.0
      Presented          0.0
      returned_goods  -249.0
10006 Normal          2534.0
      Presented          0.0
      Special_offer     58.0
      returned_goods  -733.0
10007 Normal          4021.0
      Presented          0.0
      Special_offer    179.0
      returned_goods  -239.0
10008 Normal          4209.0
      Presented          0.0
      Special_offer    324.0
      returned_goods  -678.0
...                      ...
40292 returned_goods   -30.0
40293 Normal          5084.0
      Presented          0.0
      Special_offer    175.0
      returned_goods    -8.0
40294 Normal          3732.0
      Presented          0.0
      Special_offer    133.0
40295 Normal          4121.0
      Presented          0.0
      Special_offer     15.0
      returned_goods  -249.0
40296 Normal          2679.5
      Presented          0.0
      Special_offer    224.0
      returned_goods  -249.0
40297 Normal          3928.0
      Presented          0.0
      Special_offer    732.0
      returned_goods  -356.0
40298 Normal          2284.0
      Presented          0.0
      Special_offer    588.0
40299 Normal          3763.0
      Presented          0.0
      Special_offer    332.0
40300 Normal          1363.0
      Presented          0.0
      Special_offer    125.0
      returned_goods  -757.0

[4023 rows x 1 columns]

In [25]:
m_trans = pd.pivot_table(m, index='cumid', columns='type', values='amount')
m_trans

type    Normal  Presented  Special_offer  returned_goods
cumid
10001  3608.00        0.0          420.0          -694.0
10002  1894.00        0.0            NaN          -242.0
10003  3503.00        0.0          156.0          -224.0
10004  2979.00        0.0          373.0           -40.0
10005  2368.00        0.0            NaN          -249.0
10006  2534.00        0.0           58.0          -733.0
10007  4021.00        0.0          179.0          -239.0
10008  4209.00        0.0          324.0          -678.0
10009  2925.00        0.0            NaN           332.0
10010  1786.00        0.0          547.0             NaN
10011  3374.00        0.0          215.0             NaN
10012  4184.00        0.0          492.0             NaN
10013  2772.00        0.0           56.0            -2.0
10014  4822.00        0.0          717.0          -818.0
10015  3898.00        0.0          125.0          -299.0
10016  4247.00        0.0          120.0          -314.0
10017  1845.00        0.0          331.0          -383.0
10018  2904.00        0.0            NaN             NaN
10019  3198.00        0.0          556.0             NaN
10020  1804.00        0.0            NaN          -174.0
10021  2134.00        0.0          249.0          -698.0
10022  1870.00        0.0          224.0             NaN
10023  4307.00        0.0          215.0             NaN
10024  5955.05        0.0          615.0             NaN
10025  2763.00        0.0          177.0             NaN
10026  2946.00        0.0          242.0          -395.0
10027  2902.00        0.0           72.0            -8.0
10028  2088.00        0.0          254.0          -648.0
10029  3018.00        0.0          242.0          -469.0
10030  2021.00        0.0          282.0          -633.0
...        ...        ...            ...             ...
40271  5275.00        0.0          410.0           -10.0
40272  2101.00        0.0            NaN          -688.0
40273  3161.00        0.0            NaN          -314.0
40274  2854.00        0.0          214.0          -249.0
40275  2907.00        0.0          224.0          -319.0
40276  3389.00        0.0          160.0          -478.0
40277  2614.00        0.0           98.0          -399.0
40278  3172.00        0.0            NaN             NaN
40279  1769.00        0.0           14.0          -269.0
40280  2306.00        0.0          163.0             NaN
40281  4517.00        0.0            NaN             NaN
40282  2027.00        0.0          112.0          -279.0
40283  3564.00        0.0            NaN          -299.0
40284  3665.00        0.0          481.0             NaN
40285  3408.00        0.0          220.0             NaN
40286  1910.00        0.0          215.0          -249.0
40287  2239.00        0.0          242.0          -359.0
40288  2076.00        0.0            NaN          -149.0
40289  4349.00        0.0          100.0          -648.0
40290  2694.00        0.0          161.0             NaN
40291  4036.00        0.0          100.0             NaN
40292  3592.00        0.0          179.0           -30.0
40293  5084.00        0.0          175.0            -8.0
40294  3732.00        0.0          133.0             NaN
40295  4121.00        0.0           15.0          -249.0
40296  2679.50        0.0          224.0          -249.0
40297  3928.00        0.0          732.0          -356.0
40298  2284.00        0.0          588.0             NaN
40299  3763.00        0.0          332.0             NaN
40300  1363.00        0.0          125.0          -757.0

[1200 rows x 4 columns]

In [26]:
m_trans = m_trans.fillna(0)

In [27]:
m_trans['m_totle'] = m_trans.apply(lambda x : x.sum(), axis=1)
m_trans

type    Normal  Presented  Special_offer  returned_goods  m_totle
cumid
10001  3608.00        0.0          420.0          -694.0  3334.00
10002  1894.00        0.0            0.0          -242.0  1652.00
10003  3503.00        0.0          156.0          -224.0  3435.00
10004  2979.00        0.0          373.0           -40.0  3312.00
10005  2368.00        0.0            0.0          -249.0  2119.00
10006  2534.00        0.0           58.0          -733.0  1859.00
10007  4021.00        0.0          179.0          -239.0  3961.00
10008  4209.00        0.0          324.0          -678.0  3855.00
10009  2925.00        0.0            0.0           332.0  3257.00
10010  1786.00        0.0          547.0             0.0  2333.00
10011  3374.00        0.0          215.0             0.0  3589.00
10012  4184.00        0.0          492.0             0.0  4676.00
10013  2772.00        0.0           56.0            -2.0  2826.00
10014  4822.00        0.0          717.0          -818.0  4721.00
10015  3898.00        0.0          125.0          -299.0  3724.00
10016  4247.00        0.0          120.0          -314.0  4053.00
10017  1845.00        0.0          331.0          -383.0  1793.00
10018  2904.00        0.0            0.0             0.0  2904.00
10019  3198.00        0.0          556.0             0.0  3754.00
10020  1804.00        0.0            0.0          -174.0  1630.00
10021  2134.00        0.0          249.0          -698.0  1685.00
10022  1870.00        0.0          224.0             0.0  2094.00
10023  4307.00        0.0          215.0             0.0  4522.00
10024  5955.05        0.0          615.0             0.0  6570.05
10025  2763.00        0.0          177.0             0.0  2940.00
10026  2946.00        0.0          242.0          -395.0  2793.00
10027  2902.00        0.0           72.0            -8.0  2966.00
10028  2088.00        0.0          254.0          -648.0  1694.00
10029  3018.00        0.0          242.0          -469.0  2791.00
10030  2021.00        0.0          282.0          -633.0  1670.00
...        ...        ...            ...             ...      ...
40271  5275.00        0.0          410.0           -10.0  5675.00
40272  2101.00        0.0            0.0          -688.0  1413.00
40273  3161.00        0.0            0.0          -314.0  2847.00
40274  2854.00        0.0          214.0          -249.0  2819.00
40275  2907.00        0.0          224.0          -319.0  2812.00
40276  3389.00        0.0          160.0          -478.0  3071.00
40277  2614.00        0.0           98.0          -399.0  2313.00
40278  3172.00        0.0            0.0             0.0  3172.00
40279  1769.00        0.0           14.0          -269.0  1514.00
40280  2306.00        0.0          163.0             0.0  2469.00
40281  4517.00        0.0            0.0             0.0  4517.00
40282  2027.00        0.0          112.0          -279.0  1860.00
40283  3564.00        0.0            0.0          -299.0  3265.00
40284  3665.00        0.0          481.0             0.0  4146.00
40285  3408.00        0.0          220.0             0.0  3628.00
40286  1910.00        0.0          215.0          -249.0  1876.00
40287  2239.00        0.0          242.0          -359.0  2122.00
40288  2076.00        0.0            0.0          -149.0  1927.00
40289  4349.00        0.0          100.0          -648.0  3801.00
40290  2694.00        0.0          161.0             0.0  2855.00
40291  4036.00        0.0          100.0             0.0  4136.00
40292  3592.00        0.0          179.0           -30.0  3741.00
40293  5084.00        0.0          175.0            -8.0  5251.00
40294  3732.00        0.0          133.0             0.0  3865.00
40295  4121.00        0.0           15.0          -249.0  3887.00
40296  2679.50        0.0          224.0          -249.0  2654.50
40297  3928.00        0.0          732.0          -356.0  4304.00
40298  2284.00        0.0          588.0             0.0  2872.00
40299  3763.00        0.0          332.0             0.0  4095.00
40300  1363.00        0.0          125.0          -757.0   731.00

[1200 rows x 5 columns]

In [55]:
rfm = pd.concat([r_trans['r_max'], f_trans['f_sum'], m_trans['m_totle']], axis=1)
rfm

              r_max  f_sum  m_totle
cumid
10001  1.349750e+09   23.0  3334.00
10002  1.094713e+09   16.0  1652.00
10003  1.149921e+09   23.0  3435.00
10004  1.160398e+09   28.0  3312.00
10005  1.247223e+09   12.0  2119.00
10006  1.820492e+09   11.0  1859.00
10007  1.838952e+09   24.0  3961.00
10008  1.318163e+09   29.0  3855.00
10009  1.662709e+09   17.0  3257.00
10010  1.120966e+09   22.0  2333.00
10011  1.912514e+09   23.0  3589.00
10012  1.286589e+09   27.0  4676.00
10013  1.849402e+09   22.0  2826.00
10014  1.533817e+09   27.0  4721.00
10015  1.560137e+09   23.0  3724.00
10016  1.149848e+09   22.0  4053.00
10017  1.349751e+09   20.0  1793.00
10018  1.181459e+09   28.0  2904.00
10019  1.439100e+09   20.0  3754.00
10020  1.357819e+09   18.0  1630.00
10021  1.213060e+09   20.0  1685.00
10022  1.470722e+09   19.0  2094.00
10023  1.286587e+09   25.0  4522.00
10024  1.044881e+09   31.0  6570.05
10025  1.786261e+09   22.0  2940.00
10026  1.628480e+09   23.0  2793.00
10027  1.820474e+09   16.0  2966.00
10028  1.597057e+09   14.0  1694.00
10029  1.439081e+09   30.0  2791.00
10030  1.115727e+09   17.0  1670.00
...             ...    ...      ...
40271  1.439173e+09   24.0  5675.00
40272  1.562669e+09   11.0  1413.00
40273  1.817874e+09   23.0  2847.00
40274  1.749442e+09   25.0  2819.00
40275  1.902030e+09   16.0  2812.00
40276  1.349790e+09   19.0  3071.00
40277  1.812616e+09   11.0  2313.00
40278  1.057835e+09   25.0  3172.00
40279  1.909823e+09   10.0  1514.00
40280  1.160400e+09   19.0  2469.00
40281  1.365588e+09   24.0  4517.00
40282  1.468145e+09   22.0  1860.00
40283  1.536574e+09   18.0  3265.00
40284  1.691577e+09   22.0  4146.00
40285  1.178785e+09   31.0  3628.00
40286  1.625834e+09   15.0  1876.00
40287  1.439127e+09   14.0  2122.00
40288  1.160403e+09   16.0  1927.00
40289  1.349752e+09   30.0  3801.00
40290  1.286631e+09   21.0  2855.00
40291  1.349788e+09   30.0  4136.00
40292  1.812599e+09   21.0  3741.00
40293  1.820473e+09   30.0  5251.00
40294  1.349752e+09   22.0  3865.00
40295  1.594375e+09   22.0  3887.00
40296  1.880949e+09   19.0  2654.50
40297  1.189396e+09   30.0  4304.00
40298  1.286590e+09   23.0  2872.00
40299  1.723174e+09   28.0  4095.00
40300  1.349749e+09   14.0   731.00

[1200 rows x 3 columns]

In [56]:
rfm['Recency'] = pd.cut(rfm['r_max'], bins=3, labels=['0', '1', '2'])
rfm['Frequency'] = pd.cut(rfm['f_sum'], bins=3, labels=['0', '1', '2'])
rfm['Monetary'] = pd.cut(rfm['m_totle'], bins=3, labels=['0', '1', '2'])

In [57]:
rfm

              r_max  f_sum  m_totle Recency Frequency Monetary
cumid
10001  1.349750e+09   23.0  3334.00       1         1        1
10002  1.094713e+09   16.0  1652.00       0         0        0
10003  1.149921e+09   23.0  3435.00       0         1        1
10004  1.160398e+09   28.0  3312.00       0         2        1
10005  1.247223e+09   12.0  2119.00       0         0        0
10006  1.820492e+09   11.0  1859.00       2         0        0
10007  1.838952e+09   24.0  3961.00       2         1        1
10008  1.318163e+09   29.0  3855.00       1         2        1
10009  1.662709e+09   17.0  3257.00       2         0        1
10010  1.120966e+09   22.0  2333.00       0         1        0
10011  1.912514e+09   23.0  3589.00       2         1        1
10012  1.286589e+09   27.0  4676.00       0         1        1
10013  1.849402e+09   22.0  2826.00       2         1        1
10014  1.533817e+09   27.0  4721.00       1         1        1
10015  1.560137e+09   23.0  3724.00       1         1        1
10016  1.149848e+09   22.0  4053.00       0         1        1
10017  1.349751e+09   20.0  1793.00       1         1        0
10018  1.181459e+09   28.0  2904.00       0         2        1
10019  1.439100e+09   20.0  3754.00       1         1        1
10020  1.357819e+09   18.0  1630.00       1         1        0
10021  1.213060e+09   20.0  1685.00       0         1        0
10022  1.470722e+09   19.0  2094.00       1         1        0
10023  1.286587e+09   25.0  4522.00       0         1        1
10024  1.044881e+09   31.0  6570.05       0         2        2
10025  1.786261e+09   22.0  2940.00       2         1        1
10026  1.628480e+09   23.0  2793.00       2         1        1
10027  1.820474e+09   16.0  2966.00       2         0        1
10028  1.597057e+09   14.0  1694.00       1         0        0
10029  1.439081e+09   30.0  2791.00       1         2        1
10030  1.115727e+09   17.0  1670.00       0         0        0
...             ...    ...      ...     ...       ...      ...
40271  1.439173e+09   24.0  5675.00       1         1        2
40272  1.562669e+09   11.0  1413.00       1         0        0
40273  1.817874e+09   23.0  2847.00       2         1        1
40274  1.749442e+09   25.0  2819.00       2         1        1
40275  1.902030e+09   16.0  2812.00       2         0        1
40276  1.349790e+09   19.0  3071.00       1         1        1
40277  1.812616e+09   11.0  2313.00       2         0        0
40278  1.057835e+09   25.0  3172.00       0         1        1
40279  1.909823e+09   10.0  1514.00       2         0        0
40280  1.160400e+09   19.0  2469.00       0         1        1
40281  1.365588e+09   24.0  4517.00       1         1        1
40282  1.468145e+09   22.0  1860.00       1         1        0
40283  1.536574e+09   18.0  3265.00       1         1        1
40284  1.691577e+09   22.0  4146.00       2         1        1
40285  1.178785e+09   31.0  3628.00       0         2        1
40286  1.625834e+09   15.0  1876.00       2         0        0
40287  1.439127e+09   14.0  2122.00       1         0        0
40288  1.160403e+09   16.0  1927.00       0         0        0
40289  1.349752e+09   30.0  3801.00       1         2        1
40290  1.286631e+09   21.0  2855.00       0         1        1
40291  1.349788e+09   30.0  4136.00       1         2        1
40292  1.812599e+09   21.0  3741.00       2         1        1
40293  1.820473e+09   30.0  5251.00       2         2        2
40294  1.349752e+09   22.0  3865.00       1         1        1
40295  1.594375e+09   22.0  3887.00       1         1        1
40296  1.880949e+09   19.0  2654.50       2         1        1
40297  1.189396e+09   30.0  4304.00       0         2        1
40298  1.286590e+09   23.0  2872.00       0         1        1
40299  1.723174e+09   28.0  4095.00       2         2        1
40300  1.349749e+09   14.0   731.00       1         0        0

[1200 rows x 6 columns]

In [79]:
def rfm_model(r, f, m):
    r = int(r)
    f = int(f)
    m = int(m)
    if r == 2 and f ==2 and m == 2 :
        return "重要价值客户"
    elif r == 2 and f == 2 and (m in [0,1]):
        return "一般价值客户"
    
    elif r == 2 and (f in [0,1]) and m == 2:
        return "重要发展客户"
    elif r == 2 and(f in [0,1]) and (m in [0,1]):
        return "一般发展客户"
    
    elif (r in [0, 1]) and f == 2 and m ==2:
        return "重要保持客户"
    elif (r in [0, 1]) and f == 2 and (m in [0,1]):
        return "一般保持客户"
    
    elif (r in [0, 1]) and (f in [0,1]) and m == 2:
        return "重要挽留客户"
    elif (r in [0, 1]) and (f in [0,1]) and (m in [0,1]):
        return "一般挽留客户"

In [80]:
# rfm['标签'] = rfm.apply(lambda x: rfm_model(x['Recency'], x['Frequency'], x['Monetary']), axis=1)
rfm

              r_max  f_sum  m_totle Recency Frequency Monetary      标签
cumid
10001  1.349750e+09   23.0  3334.00       1         1        1  一般挽留客户
10002  1.094713e+09   16.0  1652.00       0         0        0  一般挽留客户
10003  1.149921e+09   23.0  3435.00       0         1        1  一般挽留客户
10004  1.160398e+09   28.0  3312.00       0         2        1  一般保持客户
10005  1.247223e+09   12.0  2119.00       0         0        0  一般挽留客户
10006  1.820492e+09   11.0  1859.00       2         0        0  一般发展客户
10007  1.838952e+09   24.0  3961.00       2         1        1  一般发展客户
10008  1.318163e+09   29.0  3855.00       1         2        1  一般保持客户
10009  1.662709e+09   17.0  3257.00       2         0        1  一般发展客户
10010  1.120966e+09   22.0  2333.00       0         1        0  一般挽留客户
10011  1.912514e+09   23.0  3589.00       2         1        1  一般发展客户
10012  1.286589e+09   27.0  4676.00       0         1        1  一般挽留客户
10013  1.849402e+09   22.0  2826.00       2         1        1  一般发展客户
10014  1.533817e+09   27.0  4721.00       1         1        1  一般挽留客户
10015  1.560137e+09   23.0  3724.00       1         1        1  一般挽留客户
10016  1.149848e+09   22.0  4053.00       0         1        1  一般挽留客户
10017  1.349751e+09   20.0  1793.00       1         1        0  一般挽留客户
10018  1.181459e+09   28.0  2904.00       0         2        1  一般保持客户
10019  1.439100e+09   20.0  3754.00       1         1        1  一般挽留客户
10020  1.357819e+09   18.0  1630.00       1         1        0  一般挽留客户
10021  1.213060e+09   20.0  1685.00       0         1        0  一般挽留客户
10022  1.470722e+09   19.0  2094.00       1         1        0  一般挽留客户
10023  1.286587e+09   25.0  4522.00       0         1        1  一般挽留客户
10024  1.044881e+09   31.0  6570.05       0         2        2  重要保持客户
10025  1.786261e+09   22.0  2940.00       2         1        1  一般发展客户
10026  1.628480e+09   23.0  2793.00       2         1        1  一般发展客户
10027  1.820474e+09   16.0  2966.00       2         0        1  一般发展客户
10028  1.597057e+09   14.0  1694.00       1         0        0  一般挽留客户
10029  1.439081e+09   30.0  2791.00       1         2        1  一般保持客户
10030  1.115727e+09   17.0  1670.00       0         0        0  一般挽留客户
...             ...    ...      ...     ...       ...      ...     ...
40271  1.439173e+09   24.0  5675.00       1         1        2  重要挽留客户
40272  1.562669e+09   11.0  1413.00       1         0        0  一般挽留客户
40273  1.817874e+09   23.0  2847.00       2         1        1  一般发展客户
40274  1.749442e+09   25.0  2819.00       2         1        1  一般发展客户
40275  1.902030e+09   16.0  2812.00       2         0        1  一般发展客户
40276  1.349790e+09   19.0  3071.00       1         1        1  一般挽留客户
40277  1.812616e+09   11.0  2313.00       2         0        0  一般发展客户
40278  1.057835e+09   25.0  3172.00       0         1        1  一般挽留客户
40279  1.909823e+09   10.0  1514.00       2         0        0  一般发展客户
40280  1.160400e+09   19.0  2469.00       0         1        1  一般挽留客户
40281  1.365588e+09   24.0  4517.00       1         1        1  一般挽留客户
40282  1.468145e+09   22.0  1860.00       1         1        0  一般挽留客户
40283  1.536574e+09   18.0  3265.00       1         1        1  一般挽留客户
40284  1.691577e+09   22.0  4146.00       2         1        1  一般发展客户
40285  1.178785e+09   31.0  3628.00       0         2        1  一般保持客户
40286  1.625834e+09   15.0  1876.00       2         0        0  一般发展客户
40287  1.439127e+09   14.0  2122.00       1         0        0  一般挽留客户
40288  1.160403e+09   16.0  1927.00       0         0        0  一般挽留客户
40289  1.349752e+09   30.0  3801.00       1         2        1  一般保持客户
40290  1.286631e+09   21.0  2855.00       0         1        1  一般挽留客户
40291  1.349788e+09   30.0  4136.00       1         2        1  一般保持客户
40292  1.812599e+09   21.0  3741.00       2         1        1  一般发展客户
40293  1.820473e+09   30.0  5251.00       2         2        2  重要价值客户
40294  1.349752e+09   22.0  3865.00       1         1        1  一般挽留客户
40295  1.594375e+09   22.0  3887.00       1         1        1  一般挽留客户
40296  1.880949e+09   19.0  2654.50       2         1        1  一般发展客户
40297  1.189396e+09   30.0  4304.00       0         2        1  一般保持客户
40298  1.286590e+09   23.0  2872.00       0         1        1  一般挽留客户
40299  1.723174e+09   28.0  4095.00       2         2        1  一般价值客户
40300  1.349749e+09   14.0   731.00       1         0        0  一般挽留客户

[1200 rows x 7 columns]

In [61]:
rfm.loc[:,['Recency', 'Frequency', 'Monetary']]

      Recency Frequency Monetary
cumid
10001       1         1        1
10002       0         0        0
10003       0         1        1
10004       0         2        1
10005       0         0        0
10006       2         0        0
10007       2         1        1
10008       1         2        1
10009       2         0        1
10010       0         1        0
10011       2         1        1
10012       0         1        1
10013       2         1        1
10014       1         1        1
10015       1         1        1
10016       0         1        1
10017       1         1        0
10018       0         2        1
10019       1         1        1
10020       1         1        0
10021       0         1        0
10022       1         1        0
10023       0         1        1
10024       0         2        2
10025       2         1        1
10026       2         1        1
10027       2         0        1
10028       1         0        0
10029       1         2        1
10030       0         0        0
...       ...       ...      ...
40271       1         1        2
40272       1         0        0
40273       2         1        1
40274       2         1        1
40275       2         0        1
40276       1         1        1
40277       2         0        0
40278       0         1        1
40279       2         0        0
40280       0         1        1
40281       1         1        1
40282       1         1        0
40283       1         1        1
40284       2         1        1
40285       0         2        1
40286       2         0        0
40287       1         0        0
40288       0         0        0
40289       1         2        1
40290       0         1        1
40291       1         2        1
40292       2         1        1
40293       2         2        2
40294       1         1        1
40295       1         1        1
40296       2         1        1
40297       0         2        1
40298       0         1        1
40299       2         2        1
40300       1         0        0

[1200 rows x 3 columns]

In [ ]:
pd.read_sql_query

In [86]:
import sqlite3
sale = pd.read_csv('sale.csv', encoding='gbk')

In [87]:
sale

    year market   sale  profit
0   2010      东  33912    2641
1   2010      南  32246    2699
2   2010      西  34792    2574
3   2010      北  31884    2673
4   2011      东  31651    2437
5   2011      南  30572    2853
6   2011      西  34175    2877
7   2011      北  30555    2749
8   2012      东  31619    2106
9   2012      南  32443    3124
10  2012      西  32103    2593
11  2012      北  31744    2962

In [106]:
# 金额平均值
m2 = group_obj[['amount']].mean()
m2

                          amount
cumid type
10001 Normal          240.533333
      Presented         0.000000
      Special_offer   210.000000
      returned_goods -347.000000
10002 Normal          157.833333
      Presented         0.000000
      returned_goods -242.000000
10003 Normal          233.533333
      Presented         0.000000
      Special_offer   156.000000
      returned_goods -224.000000
10004 Normal          198.600000
      Presented         0.000000
      Special_offer   186.500000
      returned_goods  -40.000000
10005 Normal          296.000000
      Presented         0.000000
      returned_goods -249.000000
10006 Normal          253.400000
      Presented         0.000000
      Special_offer    58.000000
      returned_goods -244.333333
10007 Normal          268.066667
      Presented         0.000000
      Special_offer   179.000000
      returned_goods -239.000000
10008 Normal          247.588235
      Presented         0.000000
      Special_offer   108.000000
      returned_goods -226.000000
...                          ...
40292 returned_goods  -30.000000
40293 Normal          242.095238
      Presented         0.000000
      Special_offer    58.333333
      returned_goods   -8.000000
40294 Normal          233.250000
      Presented         0.000000
      Special_offer   133.000000
40295 Normal          257.562500
      Presented         0.000000
      Special_offer    15.000000
      returned_goods -249.000000
40296 Normal          206.115385
      Presented         0.000000
      Special_offer   224.000000
      returned_goods -249.000000
40297 Normal          231.058824
      Presented         0.000000
      Special_offer   146.400000
      returned_goods -178.000000
40298 Normal          228.400000
      Presented         0.000000
      Special_offer   147.000000
40299 Normal          235.187500
      Presented         0.000000
      Special_offer   332.000000
40300 Normal          136.300000
      Presented         0.000000
      Special_offer   125.000000
      returned_goods -252.333333

[4023 rows x 1 columns]

In [122]:
m2_trans = pd.pivot_table(m2, index='cumid', columns='type', values='amount')
m2_trans

type       Normal  Presented  Special_offer  returned_goods
cumid
10001  240.533333        0.0     210.000000     -347.000000
10002  157.833333        0.0            NaN     -242.000000
10003  233.533333        0.0     156.000000     -224.000000
10004  198.600000        0.0     186.500000      -40.000000
10005  296.000000        0.0            NaN     -249.000000
10006  253.400000        0.0      58.000000     -244.333333
10007  268.066667        0.0     179.000000     -239.000000
10008  247.588235        0.0     108.000000     -226.000000
10009  225.000000        0.0            NaN      332.000000
10010  223.250000        0.0     182.333333             NaN
10011  210.875000        0.0     215.000000             NaN
10012  246.117647        0.0     164.000000             NaN
10013  184.800000        0.0      56.000000       -2.000000
10014  253.789474        0.0     239.000000     -409.000000
10015  259.866667        0.0     125.000000     -299.000000
10016  283.133333        0.0     120.000000     -314.000000
10017  167.727273        0.0     110.333333     -127.666667
10018  145.200000        0.0            NaN             NaN
10019  228.428571        0.0     278.000000             NaN
10020  164.000000        0.0            NaN     -174.000000
10021  164.153846        0.0     124.500000     -349.000000
10022  170.000000        0.0     224.000000             NaN
10023  269.187500        0.0     215.000000             NaN
10024  248.127083        0.0     205.000000             NaN
10025  276.300000        0.0      88.500000             NaN
10026  210.428571        0.0     242.000000     -395.000000
10027  290.200000        0.0      72.000000       -8.000000
10028  298.285714        0.0     127.000000     -324.000000
10029  158.842105        0.0     242.000000     -469.000000
10030  183.727273        0.0     141.000000     -316.500000
...           ...        ...            ...             ...
40271  263.750000        0.0     136.666667      -10.000000
40272  233.444444        0.0            NaN     -344.000000
40273  185.941176        0.0            NaN     -314.000000
40274  203.857143        0.0      71.333333     -249.000000
40275  290.700000        0.0     224.000000     -319.000000
40276  282.416667        0.0      80.000000     -239.000000
40277  290.444444        0.0      98.000000     -399.000000
40278  186.588235        0.0            NaN             NaN
40279  221.125000        0.0      14.000000     -269.000000
40280  230.600000        0.0      81.500000             NaN
40281  250.944444        0.0            NaN             NaN
40282  184.272727        0.0      56.000000     -279.000000
40283  222.750000        0.0            NaN     -299.000000
40284  244.333333        0.0     160.333333             NaN
40285  213.000000        0.0     110.000000             NaN
40286  272.857143        0.0     215.000000     -249.000000
40287  203.545455        0.0     242.000000     -179.500000
40288  188.727273        0.0            NaN     -149.000000
40289  189.086957        0.0     100.000000     -324.000000
40290  244.909091        0.0     161.000000             NaN
40291  224.222222        0.0     100.000000             NaN
40292  224.500000        0.0     179.000000      -30.000000
40293  242.095238        0.0      58.333333       -8.000000
40294  233.250000        0.0     133.000000             NaN
40295  257.562500        0.0      15.000000     -249.000000
40296  206.115385        0.0     224.000000     -249.000000
40297  231.058824        0.0     146.400000     -178.000000
40298  228.400000        0.0     147.000000             NaN
40299  235.187500        0.0     332.000000             NaN
40300  136.300000        0.0     125.000000     -252.333333

[1200 rows x 4 columns]

In [123]:
m2_trans.fillna(0)

type       Normal  Presented  Special_offer  returned_goods
cumid
10001  240.533333        0.0     210.000000     -347.000000
10002  157.833333        0.0       0.000000     -242.000000
10003  233.533333        0.0     156.000000     -224.000000
10004  198.600000        0.0     186.500000      -40.000000
10005  296.000000        0.0       0.000000     -249.000000
10006  253.400000        0.0      58.000000     -244.333333
10007  268.066667        0.0     179.000000     -239.000000
10008  247.588235        0.0     108.000000     -226.000000
10009  225.000000        0.0       0.000000      332.000000
10010  223.250000        0.0     182.333333        0.000000
10011  210.875000        0.0     215.000000        0.000000
10012  246.117647        0.0     164.000000        0.000000
10013  184.800000        0.0      56.000000       -2.000000
10014  253.789474        0.0     239.000000     -409.000000
10015  259.866667        0.0     125.000000     -299.000000
10016  283.133333        0.0     120.000000     -314.000000
10017  167.727273        0.0     110.333333     -127.666667
10018  145.200000        0.0       0.000000        0.000000
10019  228.428571        0.0     278.000000        0.000000
10020  164.000000        0.0       0.000000     -174.000000
10021  164.153846        0.0     124.500000     -349.000000
10022  170.000000        0.0     224.000000        0.000000
10023  269.187500        0.0     215.000000        0.000000
10024  248.127083        0.0     205.000000        0.000000
10025  276.300000        0.0      88.500000        0.000000
10026  210.428571        0.0     242.000000     -395.000000
10027  290.200000        0.0      72.000000       -8.000000
10028  298.285714        0.0     127.000000     -324.000000
10029  158.842105        0.0     242.000000     -469.000000
10030  183.727273        0.0     141.000000     -316.500000
...           ...        ...            ...             ...
40271  263.750000        0.0     136.666667      -10.000000
40272  233.444444        0.0       0.000000     -344.000000
40273  185.941176        0.0       0.000000     -314.000000
40274  203.857143        0.0      71.333333     -249.000000
40275  290.700000        0.0     224.000000     -319.000000
40276  282.416667        0.0      80.000000     -239.000000
40277  290.444444        0.0      98.000000     -399.000000
40278  186.588235        0.0       0.000000        0.000000
40279  221.125000        0.0      14.000000     -269.000000
40280  230.600000        0.0      81.500000        0.000000
40281  250.944444        0.0       0.000000        0.000000
40282  184.272727        0.0      56.000000     -279.000000
40283  222.750000        0.0       0.000000     -299.000000
40284  244.333333        0.0     160.333333        0.000000
40285  213.000000        0.0     110.000000        0.000000
40286  272.857143        0.0     215.000000     -249.000000
40287  203.545455        0.0     242.000000     -179.500000
40288  188.727273        0.0       0.000000     -149.000000
40289  189.086957        0.0     100.000000     -324.000000
40290  244.909091        0.0     161.000000        0.000000
40291  224.222222        0.0     100.000000        0.000000
40292  224.500000        0.0     179.000000      -30.000000
40293  242.095238        0.0      58.333333       -8.000000
40294  233.250000        0.0     133.000000        0.000000
40295  257.562500        0.0      15.000000     -249.000000
40296  206.115385        0.0     224.000000     -249.000000
40297  231.058824        0.0     146.400000     -178.000000
40298  228.400000        0.0     147.000000        0.000000
40299  235.187500        0.0     332.000000        0.000000
40300  136.300000        0.0     125.000000     -252.333333

[1200 rows x 4 columns]

In [132]:
m2_trans['m_totle'] = m2_trans.apply(lambda x : x.sum(), axis=1)

cumid
10001    103.533333
10002    -84.166667
10003    165.533333
10004    345.100000
10005     47.000000
10006     67.066667
10007    208.066667
10008    129.588235
10009    557.000000
10010    405.583333
10011    425.875000
10012    410.117647
10013    238.800000
10014     83.789474
10015     85.866667
10016     89.133333
10017    150.393939
10018    145.200000
10019    506.428571
10020    -10.000000
10021    -60.346154
10022    394.000000
10023    484.187500
10024    453.127083
10025    364.800000
10026     57.428571
10027    354.200000
10028    101.285714
10029    -68.157895
10030      8.227273
            ...
40271    390.416667
40272   -110.555556
40273   -128.058824
40274     26.190476
40275    195.700000
40276    123.416667
40277    -10.555556
40278    186.588235
40279    -33.875000
40280    312.100000
40281    250.944444
40282    -38.727273
40283    -76.250000
40284    404.666667
40285    323.000000
40286    238.857143
40287    266.045455
40288     39.727273
40289    -34.913043
40290    405.909091
40291    324.222222
40292    373.500000
40293    292.428571
40294    366.250000
40295     23.562500
40296    181.115385
40297    199.458824
40298    375.400000
40299    567.187500
40300      8.966667
Length: 1200, dtype: float64